body {
	background-color: black;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 10px
}

h1 {
		color: white;
		margin-left: 20px;
}

.play {
	margin: 0 auto;
	float: left;
	border: none;
	background: black;
	background-position:0px;
	outline: 0;
	font-size: 0;
	height: 80px;
	width: 80px;
	display: inline-block;
}

.prev input[type=button] {
	margin: 0 auto;
	float: left;
	border: none;
	background: white;
	-webkit-mask: url("img/prev.png");
	background-position:0px;
	outline: 0;
	font-size: 0;
	height: 80px;
	width: 80px;
	display: inline-block;
}

.next input[type=button] {
	margin: 0 auto;
	float: left;
	border: none;
	background: white;
	-webkit-mask: url("img/next.png");
	background-position:0px;
	outline: 0;
	font-size: 0;
	height: 80px;
	width: 80px;
	display: inline-block;
}

#prev, #playPause, #next {
	display: block;
	margin-left: auto;
	margin-right: auto
	background-color: red;
	margin: 0 auto;
}

#menu {
	float: left;
}

#header {
	float:right;
	margin-top: 10px;
	width: 100%;
	height: 20px;
}


#headerCtl {
	background-color: black;
	align-items: center;
	width: 250px;
	display: block;
	float: right;
}

#logo {
	float: left;
	background-image: url("img/roonlogo_onlywhite.png");
	margin: 0 auto;
	width: 50px;
	height: 50px;
}

#search {
	display: inline-block;
	text-align: center;
}

#zone {
	display: inline-block;
	text-align: center;
}

ul li {
	margin: 10px;
	vertical-align:top;
}

#main {
	float: left;
	margin-top: 30px;
	color: #555;
	white-space: nowrap;
	word-wrap: break-word
}
#icon {
	float: left;
  padding-right: 10px;
}

#icon img {
	float: left;
	margin-left: 50px;
	height: 200px;
	width: 200px;
	background-color: #fff;
	padding: 4px;
  border: 1px white;
}

#musicinfo {
	float: left;
	margin-left: 30px;
	word-wrap: break-word;
}

.relevantinfo {
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	white-space: normal;
	width: 450px;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

#transport {
	float: left;
	margin-top: 30px;
	width: 100%;
	height: 80px;
}

#transportctl {
	background-color: black;
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#seekfooter {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: black;
}

#volumectl {
	margin-top: 30px;
	background-color: black;
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input.volume[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 15px 0;
}
input.volume[type=range]:focus {
	outline: none;
}
input.volume[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #ffffff;
	border-radius: 0px;
	border: 0px solid #000000;
}
input.volume[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
	border: 0px solid #000000;
	height: 20px;
	width: 5px;
	border-radius: 0px;
	background: rgba(255, 67, 95, 0.93);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8.5px;
}
input.volume[type=range]:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}
input.volume[type=range]::-moz-range-track {
	width: 100%;
	height: 20px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #ffffff;
	border-radius: 0px;
	border: 0px solid #010101;
}
input.volume[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
	border: 0px solid #ff1e00;
	height: 20px;
	width: 5px;
	border-radius: 0px;
	background: rgba(255, 67, 95, 0.93);
	cursor: pointer;
}
input.volume[type=range]::-ms-track {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input.volume[type=range]::-ms-fill-lower {
	background: #3c4040;
	border: 0px solid #010101;
	border-radius: 0px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input.volume[type=range]::-ms-fill-upper {
	background: #484d4d;
	border: 0px solid #010101;
	border-radius: 0px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input.volume[type=range]::-ms-thumb {
	box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
	border: 0px solid #ff1e00;
	height: 20px;
	width: 5px;
	border-radius: 0px;
	background: rgba(255, 67, 95, 0.93);
	cursor: pointer;
	height: 20px;
}
input.volume[type=range]:focus::-ms-fill-lower {
	background: #000000;
}
input.volume[type=range]:focus::-ms-fill-upper {
	background: #000000;
}


select {
	/* irrelevante Eigenschaften gekürzt */
	border: 1px solid #444;
	padding:.75em 1em .5em .5em;
	box-shadow: 0 0px 0px 0 rgba(0,0,0,1);
	background-color:#000;
	color:white;
	height: 60px;
	margin: 20px;
}

option {
	background:#000;
	border-top:1px solid #444;
	padding:.3em 1em .3em 1em;
}

/* Track seek */

input.seek[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input.seek[type=range]:focus {
  outline: none;
}
input.seek[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid #000000;
}
input.seek[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #567fa0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input.seek[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input.seek[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid #000101;
}
input.seek[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #567fa0;
  cursor: pointer;
}
input.seek[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input.seek[type=range]::-ms-fill-lower {
  background: #ffffff;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input.seek[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input.seek[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #567fa0;
  cursor: pointer;
}
input.seek[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input.seek[type=range]:focus::-ms-fill-upper {
  background: #000000;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
